---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="My blog">
  <main>
    <p>My simple blog</p>
    <br />
    <img
      src="https://media.giphy.com/media/2iDgis3O3PyKY/giphy.gif?cid=ecf05e47qfk4itstzomdkt5860y6qu3w01xbftcabls4nhyz&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    />
  </main>
</Layout>
