---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <p>My simple site</p>
    <br />
    <img
      src="https://media.giphy.com/media/fMi9BKABSEF7G/giphy.gif?cid=790b76113zjfuw35mf8l91kaxbifkin6kuyx3n9q5ksd1cpl&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    />
  </main>
</Layout>
